* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    position: fixed;
    z-index: 1;
    top: 0;
    display: block;
    width: 100%;
    height: 80px;
    background-color: pink;
}

#header .nav li a {
    display: inline-block;
    line-height: 80px;
    padding-left: 20px;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 550;
}

#header .nav li {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
}

#main {
    width: 70%;
    /* background-color: #ccc; */
    height: 1000px;
    margin: 90px auto;
}

#main .paf-row1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

#main .paf-row1 .paf-ss {
    width: 300px;
    margin-top: 20px;
    text-decoration: none;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    margin: 30px 20px;
}

#main .paf-row1 .paf-ss:hover {
    opacity: 0.8;
    transform: scale(1.05);
    transition: 0.4s;
}

#main .paf-row1 .paf-ss > img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#main .paf-row1 .paf-ss .ss-name {
    text-align: center;
    height: 100px;
    line-height: 100px;
    color: cornflowerblue;
    font-size: 25px;
    font-weight: 500;
    /* background-color: #ccc; */
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#main .paf-row1 .paf-ss .ss-name1 {
    text-align: center;
    height: 100px;
    padding-top: 20px;
    color: cornflowerblue;
    font-size: 25px;
    font-weight: 500;
    /* background-color: #ccc; */
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}